github "bromas/Architect" "v0.6.4"
github "bromas/StrategicControllers" "v1.0"
github "bromas/ActivityViewController"
github "bromas/bccoalescing" "v1.0"
github "thoughtbot/argo" "v0.4.3"
github "Alamofire/Alamofire" "1.2.1"
github "ReactiveCocoa/ReactiveCocoa" "v3.0-beta.4"
